/* CUSTOM STYLES */

.profile-pic {
  margin: 0 auto;
  border-radius: 50%;
  background: url('../../images/profile-sprite.png') no-repeat;
  display: block;
  height: 200px;
  width: 200px;
}

.header-links {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.header-links a {
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  z-index: 1;
}